{% extends 'index.html' %}

{% block head %}
    {{ super() }}
      <link href="/static/css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/jquery-confirm.css">
    <link rel="stylesheet" href="/static/css/toastr.min.css">
{% endblock %}

{% block h1 %}Завдання "{{task.content}}"{% endblock %}

{% block buttons %}

              <div class="btn-group mr-2">
                  <button class="btn btn-sm btn-outline-secondary" id="back-to-modules">До модулів</button>
                  <button class="btn btn-sm btn-outline-secondary" id="back-to-task">До завдань</button>
                  <button class="btn btn-sm btn-outline-secondary" id="add-question">Додати запитання</button>
              </div>

{% endblock %}






{% block main %}

    <div id="questionsDiv"></div>




{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/jquery-confirm.js"></script>
    <script src="/static/js/toastr.min.js"></script>



    <script type="text/javascript">








      $('#add-question').click(function () {
            $.confirm({
                title: 'Додати відповідь',
                theme: 'material',
                content:
             '   {% if task.answer_type == 'choice' %}\
        <form id="add-resource">\
            <fieldset>\
                <div class="panel-primary">\
                    <legend><h2>Внесіть дані</h2></legend>\
\
                    <input type="hidden" name="task_id" value="{{task.id}}">\
                    <div class="panel-title">Варіант відповіді :</div>\
                    <textarea name="ans1" cols="25" rows="2"></textarea> \
                    <br>\
                    <input type="checkbox" name="is_True"> Так/ні\
                </div>\
            </fieldset>\
        </form>\
        \
        {% else %}\
        \
            <form id="add-resource">\
            <fieldset>\
                <div class="panel-primary">\
                    <legend><h2>Внесіть дані</h2></legend>\
\
                    <input type="hidden" name="task_id" value="{{task.id}}">\
                    <div class="panel-title">Питання:</div>\
                    <br>\
                    <textarea name="ans1" cols="30" rows="1"></textarea>\
                    <div class="panel-title">Відповідна правильна відповідь:</div>\
                    <br>\
                    <textarea name="ans2" cols="30" rows="1"></textarea>\
                </div>\
            </fieldset>\
            </form>\
\
    {% endif %}',
                buttons: {
                    'Додати': {

                        action: function () {
                        $.ajax({
                            url: '/add/answer/{{ task.answer_type }}',
                            type: 'POST',
                            data: $('#add-resource').serialize(),
                            success: function (response) {
                                localStorage.setItem('result', response.success);
                                if(response.success){
                                    localStorage.setItem('message', 'Додано нове завдання');
                                    location.reload();
                                }
                                else{
                                    localStorage.setItem('message', 'Пробеми з валідацією');
                                    location.reload();
                                }


                            }
                        });
                    }
                    },
                    'Відмінити': {

                        action: function () {
                        toastr.info('Додавання нового завдання відмінено!');
                    }}
                }
            });



console.log( 'ser', $('#add-res').serialize() );
  });
  </script>



    <script type="text/javascript">

	$(document).ready(function() {

if (localStorage.getItem('result')) {
            switch (localStorage.getItem('result')) {
                case 'true' :
                    toastr.success(localStorage.getItem('message'));
                    break;
                case 'false' :
                    toastr.error(localStorage.getItem('message'));
                    break;
            }
            localStorage.clear();
        }




        $.ajax({
			url : '/get/module/{{ module.id }}/{{ task.id }}',
			type : 'GET',
            dataType: 'json',
			success: function(res){
			    console.log(res);
				var div = $('<div>')
                    .attr('class', 'table-responsive')
                    .append($('<table>')
        .attr('class', 'table table-striped table-sm')
        .append(
            $('<thead>')
                .append(
                    $('<tr>')
                        .append(
                            $('<th>').text('#'),
                            $('<th>').text('Питання'),
                            $('<th>').text('Відповідь'),
                            $('<th>').text('Різне')
                        )
                ),
            $('<tbody>')

        )
                    );

				var tr = $('<tr>');


				var module = '';

				var path = window.location.pathname;

				$.each(res,function(index, value){
					module = $(tr).clone();

                    var ansId = value.id;
					$(module).append(
					    $('<td>').text(index+1),
                        $('<td>').text(value.question),
                        $('<td>').text(value.answer),
                        $('<td>').append($('<button>').attr('data-feather', 'trash').attr('data-answer-id',ansId).attr('class', 'delete-answer'),
                            $('<button>').attr('data-feather', 'edit').attr('data-answer-id',ansId).attr('class', 'edit-answer'))
                    );
					$(div).find('tbody').append(module);

				});

				$('#questionsDiv').append(div);
				feather.replace()
			},
			error: function(error){
				console.log(error);
			}
		});
    });

$('#questionsDiv').on('click','.delete-answer', function () {
        var answer = $(this).attr('data-answer-id');
            $.confirm({
                title: 'Delete Confirmation',
                content: 'Are you sure you wish to delete?',
                theme: 'material',
                buttons: {
                'Видалити': {
                    action: function () {
                    $.ajax({
                        url: '/answer/{{ task.answer_type }}/'+ answer + '/delete/',
                        type: 'POST',
                        success: function (response) {
                            localStorage.setItem('result', response.success);
                                if(response.success){
                                    localStorage.setItem('message', 'Завдання видалено успішно');
                                    location.reload();
                                }
                                else{
                                    localStorage.setItem('message', 'Пробеми з видаленням');
                                    location.reload();
                                }
                        }
                    });
                }},
                'Відхилити':{
                    action: function () {
                        toastr.info('Delete Cancelled');
                    }
                }

            }
            })
    });


	$('#questionsDiv').on('click','.edit-answer', function () {
         var answer = $(this).attr('data-answer-id');
         $.confirm({
                title: 'Редагування завдання',
                content: function () {
                    var self = this;
                    this.$body.append('<div id="content-edit"></div>');
                    return $.ajax({
                        url: '/answer/{{ task.answer_type }}/'+ answer + '/get/',
                        method: 'get',
                    }).done(function (response) {
                        function check(d) {
                            if( !d ) return ''
                            return 'checked'

                        }
                        self.setContent('{% if task.answer_type == 'choice' %}\
        <form id="add-resource">\
            <fieldset>\
                <div class="panel-primary">\
                    <legend><h2>Відредагуйте дані</h2></legend>\
\
                    <input type="hidden" name="task_id" value="{{task.id}}">\
                    <div class="panel-title">Варіант відповіді :</div>\
                    <textarea name="ans1" cols="25" rows="2">'+response.answer.question+'</textarea> \
                    <br>\
                    <input type="checkbox" name="is_True" '+ check(response.answer.answer) +'> Так/ні\
                </div>\
            </fieldset>\
        </form>\
        \
        {% else %}\
        \
            <form id="add-resource">\
            <fieldset>\
                <div class="panel-primary">\
                    <legend><h2>Відредагуйте дані</h2></legend>\
\
                    <input type="hidden" name="task_id" value="{{task.id}}">\
                    <div class="panel-title">Питання:</div>\
                    <br>\
                    <textarea name="ans1" cols="30" rows="1">'+response.answer.question+'</textarea>\
                    <div class="panel-title">Відповідна правильна відповідь:</div>\
                    <br>\
                    <textarea name="ans2" cols="30" rows="1">'+response.answer.answer+'</textarea>\
                </div>\
            </fieldset>\
            </form>\
\
    {% endif %}'
                        );

                    }).fail(function (response) {
                        console.log(response);
                        self.setContent('Something went wrong.');
                    });
                },

                theme: 'material',
                buttons: {
                    'Змінити':{
                    action: function () {
                        $.ajax({
                            url: '/answer/{{ task.answer_type }}/' + answer + '/update/',
                            type: 'POST',
                            data: $('#add-resource').serialize(),
                            success: function (response) {
                                localStorage.setItem('result', response.success);
                                if (response.success) {
                                    localStorage.setItem('message', 'Завдання успішно оновлено');
                                    location.reload();
                                }
                                else {
                                    localStorage.setItem('message', 'Пробеми з валідацією');
                                    location.reload();
                                }


                            }
                        })
                    }

                    },
                    'Відхилити':{
                    action: function () {
                        toastr.info('Редагування відмінено');
                    }
                }

                }
            });
    });

	$('#back-to-task').on('click', function () {
        location.href = "{{ url_for('new_task', module_url=module.module_url) }}";
    });

	$('#back-to-modules').on('click', function () {
        location.href = "{{ url_for('modules') }}";
    });

    </script>





{% endblock %}